.container noticelist {
    padding-top: 30px;
    margin-left: auto;
    font-size: 16px;
    font-family: 华文楷体, 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu, Helvetica, Tahoma, Arial, sans-serif;
}

.lists_items {
    width: 100%;
    padding: 0px;
}

.lists_item {
    padding: 40px 10px 20px 20px;
    width: 100%;
    border-bottom: 1px solid #b7c6d3;
}

.lists_item .item_content {
    padding-right: 15px;
    width: 100%;
}

.item_content {
    display: flex;
    font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
}

.lists_item .item_content .item_title {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 24px;
}

.lists_item .item_content .item_date {
    font:bold 22px/0.75em Arial,'Times New Roman','Microsoft YaHei',SimHei;
    background: #9AAEDB;
    float: left;
    padding: 8px 15px;
    line-height: 1.4;
    color: navy;
    font-family: 仿宋;
}
