.container noticelist{

    padding-top: 30px;
    margin-left: auto;
    font-size: 16px;
    font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu, Helvetica, Tahoma, Arial, sans-serif;
}

.lists_items{
    width: 100%;
    padding: 0px;
}

.lists_item{
    padding: 40px 10px 20px 10px;
    width: 100%;
    border-bottom: 1px solid #b7c6d3;
}

.item_content{
    padding-right: 15px;
}

.item_title{
    padding-left: 20px;
    height: 57px;
    overflow: hidden;
}