{% extends 'index.html' %}

{# 导航栏部分 #}
{% block nav %}
    <div class="wrapper-fluid wrapper-navbar" id="wrapper-navbar">

        <div class="container" style="max-width: 1400px;">


            <nav class="navbar navbar-light site-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

                <!-- Mobile ShiftNav Menu -->

                <!-- Superfish Menu -->
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="sf-menu" type="1">
                        <li id="menu-item-1949">
                            <a style="font-size: 22px"  href="/main?nav=recommend">主页</a>
                        </li>
                        <li id="menu-item-200" >
                            <a  style="font-size: 22px" href="/main?nav=campusnews">校园新闻</a>
                        </li>
                        <li id="menu-item-2000" >
                            <a  style="font-size: 22px" href="/main?nav=media">媒体重大</a>
                        </li>
                        <li id="menu-item-1989" >
                            <a  style="font-size: 22px" href="/main?nav=notice">通知公告</a>
                        </li>
{#                        <li id="menu-item-1988" >#}
{#                            <a  style="font-size: 22px" href="/main?nav=academinfo">学术通告</a>#}
{#                        </li>#}
                        <li id="menu-item-2010" >
                            <a  style="font-size: 22px" href="/main?nav=instnews">学院新闻</a>
                        </li>
                    </ul>
                </div>
            </nav><!-- .site-navigation -->


        </div>

    </div><!-- .wrapper-navbar end -->

{% endblock %}

{# 左边主要内容部分 #}
{% block left %}

    <div id="primary" class="col-md-8 content-area" style="max-width: 1500px; overflow: hidden;">
            <main id="main" class="site-main row multi-columns-row" role="main">
                    {% if inserthtml != '' %}
                        {{ inserthtml |safe}}

                        {% else %}
                            {% if newstype == 'recommend' or newstype == 'campusnews' or newstype == 'media' %}
                                {% include 'recommend.html' %}
                            {% endif %}

                            {% if newstype == 'notice' %}
                                {% include 'notice.html' %}
                            {% endif %}

                            {% if newstype == 'instnews' %}
                                {% include 'instnews.html' %}
                            {% endif %}
                    {% endif %}
            </main><!-- #main -->

    </div>
{% endblock %}

{# 右边分栏 #}
{% block right %}
    <div id="secondary" class="col-md-4 widget-area" role="complementary" style="margin-left: 50px; width: 400px;">

    <aside id="verb_lite_sponsors-3" class="widget wcp_image center-block sponsor">
        <h3>This is a custom advertisement widget included in the theme</h3>
        <div class="text-center margin-bottom-20"><a target="_blank" href="https://www.themely.com/themes/verb/" class="btn btn-sm btn-primary">Download
                Verb Pro</a></div><a target="_blank" href="https://www.themely.com/themes/verb/"><img src="./../static/screenshot.png"
             class="img-responsive center-block"></a>
    </aside>
    <aside id="search-2" class="widget widget_search">
        <form method="get" id="searchform" action="https://demo.themely.com/verb/" role="search">
            <label for="s" class="assistive-text">Search</label>
            <div class="input-group">
                <input type="text" class="field form-control" name="s" id="s" placeholder="Search …">
                <span class="input-group-btn">
                    <input type="submit" class="submit btn btn-primary" name="submit" id="searchsubmit" value="Search">
                </span>
            </div>
        </form>
    </aside>
    <aside id="wpp-2" class="widget popular-posts">
        <h3 class="widget-title">热门新闻</h3>
        <!-- WordPress Popular Posts -->

        <ul class="wpp-list wpp-list-with-thumbnails">
            <li data-sr-id="23" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; transition: transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; ">
                <a href="https://demo.themely.com/verb/index.php/2013/12/12/aliquam-faucibus-lacinia-facilisis/" title="Aliquam faucibus lacinia facilisis"
                 target="_self"><img width="100" height="75" src="./../static/pexels-photo-100x75.jpg"
                     class="wpp-thumbnail wpp_featured_stock wp-post-image" alt="" srcset="https://demo.themely.com/verb/wp-content/uploads/2013/12/pexels-photo-100x75.jpg 100w, https://demo.themely.com/verb/wp-content/uploads/2013/12/pexels-photo-680x500.jpg 680w, https://demo.themely.com/verb/wp-content/uploads/2013/12/pexels-photo-935x700.jpg 935w"
                     sizes="(max-width: 100px) 100vw, 100px"></a>
                <a href="https://demo.themely.com/verb/index.php/2013/12/12/aliquam-faucibus-lacinia-facilisis/" title="Aliquam faucibus lacinia facilisis"
                 class="wpp-post-title" target="_self">Aliquam faucibus lacinia facilisis</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">4 views</span> | <span class="wpp-date">posted on
                        December 12, 2013</span></span>
            </li>
            <li data-sr-id="24" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; transition: transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; ">
                <a href="https://demo.themely.com/verb/index.php/2013/10/20/quisque-turpis-arcu-congue-in-tincidunt/" title="Quisque turpis arcu, congue in tincidunt"
                 target="_self"><img width="100" height="75" src="./../static/photo-1430213501427-c640a8880f78-100x75.jpg"
                     class="wpp-thumbnail wpp_featured_stock wp-post-image" alt="" srcset="https://demo.themely.com/verb/wp-content/uploads/2013/10/photo-1430213501427-c640a8880f78-100x75.jpg 100w, https://demo.themely.com/verb/wp-content/uploads/2013/10/photo-1430213501427-c640a8880f78-680x500.jpg 680w, https://demo.themely.com/verb/wp-content/uploads/2013/10/photo-1430213501427-c640a8880f78-935x700.jpg 935w"
                     sizes="(max-width: 100px) 100vw, 100px"></a>
                <a href="https://demo.themely.com/verb/index.php/2013/10/20/quisque-turpis-arcu-congue-in-tincidunt/" title="Quisque turpis arcu, congue in tincidunt"
                 class="wpp-post-title" target="_self">Quisque turpis arcu, congue in tincidunt</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">4 views</span> | <span class="wpp-date">posted on
                        October 20, 2013</span></span>
            </li>
            <li data-sr-id="25" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; transition: transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; ">
                <a href="https://demo.themely.com/verb/index.php/2014/12/22/aliquam-faucibus-lacinia/" title="Aliquam faucibus lacinia interdum nisi"
                 target="_self"><img width="100" height="75" src="./../static/4yas-4415263267_3c62eecb99_o-100x75.jpg"
                     class="wpp-thumbnail wpp_featured_stock wp-post-image" alt="Aliquam faucibus lacinia interdum nisi" srcset="https://demo.themely.com/verb/wp-content/uploads/2013/12/4yas-4415263267_3c62eecb99_o-100x75.jpg 100w, https://demo.themely.com/verb/wp-content/uploads/2013/12/4yas-4415263267_3c62eecb99_o-680x500.jpg 680w, https://demo.themely.com/verb/wp-content/uploads/2013/12/4yas-4415263267_3c62eecb99_o-935x700.jpg 935w"
                     sizes="(max-width: 100px) 100vw, 100px"></a>
                <a href="https://demo.themely.com/verb/index.php/2014/12/22/aliquam-faucibus-lacinia/" title="Aliquam faucibus lacinia interdum nisi"
                 class="wpp-post-title" target="_self">Aliquam faucibus lacinia interdum nisi</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">4 views</span> | <span class="wpp-date">posted on
                        December 22, 2014</span></span>
            </li>
            <li data-sr-id="26" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; transition: transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; ">
                <a href="https://demo.themely.com/verb/index.php/2014/01/10/donec-bibendum-aliquam-nulla-sit-amit/" title="Donec bibendum aliquam nulla sit amit"
                 target="_self"><img width="100" height="75" src="./../static/tee-100x75.jpg"
                     class="wpp-thumbnail wpp_featured_stock wp-post-image" alt="" srcset="https://demo.themely.com/verb/wp-content/uploads/2016/11/tee-100x75.jpg 100w, https://demo.themely.com/verb/wp-content/uploads/2016/11/tee-680x500.jpg 680w, https://demo.themely.com/verb/wp-content/uploads/2016/11/tee-935x700.jpg 935w"
                     sizes="(max-width: 100px) 100vw, 100px"></a>
                <a href="https://demo.themely.com/verb/index.php/2014/01/10/donec-bibendum-aliquam-nulla-sit-amit/" title="Donec bibendum aliquam nulla sit amit"
                 class="wpp-post-title" target="_self">Donec bibendum aliquam nulla sit amit</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">3 views</span> | <span class="wpp-date">posted on
                        January 10, 2014</span></span>
            </li>
            <li data-sr-id="27" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; transition: transform 0.5s linear 0.05s, opacity 0.5s linear 0.05s; ">
                <a href="https://demo.themely.com/verb/index.php/2013/12/16/fusce-pretium-id-sem-non-feugiat-ultricies/"
                 title="Fusce pretium id sem non feugiat ultricies" target="_self"><img width="100" height="75" src="./../static/building-vintage-bike-monument-100x75.jpg"
                     class="wpp-thumbnail wpp_featured_stock wp-post-image" alt="" srcset="https://demo.themely.com/verb/wp-content/uploads/2013/12/building-vintage-bike-monument-100x75.jpg 100w, https://demo.themely.com/verb/wp-content/uploads/2013/12/building-vintage-bike-monument-680x500.jpg 680w, https://demo.themely.com/verb/wp-content/uploads/2013/12/building-vintage-bike-monument-935x700.jpg 935w"
                     sizes="(max-width: 100px) 100vw, 100px"></a>
                <a href="https://demo.themely.com/verb/index.php/2013/12/16/fusce-pretium-id-sem-non-feugiat-ultricies/"
                 title="Fusce pretium id sem non feugiat ultricies" class="wpp-post-title" target="_self">Fusce pretium id
                    sem non feugiat ultricies</a>
                <span class="wpp-meta post-stats"><span class="wpp-views">2 views</span> | <span class="wpp-date">posted on
                        December 16, 2013</span></span>
            </li>
        </ul>

    </aside>
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h3 class="widget-title">通知公告</h3>
        <ul>
            <li>
                <a href="https://demo.themely.com/verb/index.php/2014/12/22/aliquam-faucibus-lacinia/">Aliquam faucibus
                    lacinia interdum nisi</a>
            </li>
            <li>
                <a href="https://demo.themely.com/verb/index.php/2014/06/19/review-with-bottom-box/">Facilisis tincidunt
                    justo eget urna leo dapibus</a>
            </li>
            <li>
                <a href="https://demo.themely.com/verb/index.php/2014/01/16/nullam-lorem-eros-posuere-nec-gravida-dui/">Nullam
                    lorem eros, posuere nec gravida dui</a>
            </li>
            <li>
                <a href="https://demo.themely.com/verb/index.php/2014/01/10/donec-bibendum-aliquam-nulla-sit-amit/">Donec
                    bibendum aliquam nulla sit amit</a>
            </li>
            <li>
                <a href="https://demo.themely.com/verb/index.php/2013/12/31/porta-tortor-ut-sit-amet/">Porta Tortor: Ut sit
                    amet aenean enim diam</a>
            </li>
        </ul>
    </aside>
    <aside id="recent-comments-2" class="widget widget_recent_comments">
        <h3 class="widget-title">最近浏览</h3>
        <ul id="recentcomments">
            <li class="recentcomments"><span class="comment-author-link"><a href="https://demo.themely.com/verb/#" rel="external nofollow"
                     class="url">Jon Doe</a></span> on <a href="https://demo.themely.com/verb/index.php/2014/01/10/donec-bibendum-aliquam-nulla-sit-amit/#comment-25">Donec
                    bibendum aliquam nulla sit amit</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href="http://theme-sphere.com/" rel="external nofollow"
                     class="url">Jane Doe</a></span> on <a href="https://demo.themely.com/verb/index.php/2013/12/16/nullam-porta-tortor-ut-vulputate-mattis/#comment-14">Nullam
                    porta tortor sed vivamus felis URS libero</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href="http://www.blah.com/" rel="external nofollow"
                     class="url">John Doe</a></span> on <a href="https://demo.themely.com/verb/index.php/2013/12/16/donec-porta-molestie-dui-molestie/#comment-12">Donec
                    porta molestie $4bn vitae molestie metus</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href="http://theme-sphere.com/" rel="external nofollow"
                     class="url">Jane Doe</a></span> on <a href="https://demo.themely.com/verb/index.php/2013/12/16/fusce-pretium-id-sem-non-feugiat-ultricies/#comment-4">Fusce
                    pretium id sem non feugiat ultricies</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href="http://theme-sphere.com/" rel="external nofollow"
                     class="url">Jane Doe</a></span> on <a href="https://demo.themely.com/verb/index.php/2013/12/16/fusce-pretium-id-sem-non-feugiat-ultricies/#comment-3">Fusce
                    pretium id sem non feugiat ultricies</a></li>
        </ul>
    </aside>
    </div><!-- .widget-area -->

{% endblock %}


