    <div class="clearfix"></div>
    <div class="container noticelist">
        {% for news in newslist %}
            <div class="lists_items">
                <div class="lists_item">
                    <div class="item_content">
                        <div class="item_date">
                            {{ news.date.month }}月
                            <br>
                            {{ news.date.day }}日
                        </div>
                        <div class="item_title">
                            <a href="/main?nav=notice&content=1&link={{ news.link }}">{{ news.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}