<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo_0x01</title>
    <link rel="stylesheet" href="./../static/css/loginstyle.css">
</head>
<body>
    
    <div class="container">
       <div class="login-box">
            <div class="apple-btn login-apple">
                <!-- <li class="red-btn"></li>
                <li class="yellow-btn"></li>
                <li class="green-btn"></li> -->
            </div>
            <div style="position: relative; width: 300px; height: 350px;">
                <img src="./../static/images/loginbg.jpg" width="600" height="350">
                <span class="title-sign" >校园门户</span>
            </div>
            
            <!-- <div>
                <img src=归档.zip"bg.jpg">
            </div> -->
           <form method="post" onsubmit="return login();">
               {% csrf_token %}
               <div class="input">
                   <input type="text" name="username" id="login-user" placeholder="请输入您的学号/工号">
               </div>
               <div class="input">
                   <input type="password" name="password" id="login-password" placeholder="请输入您的密码">
               </div>
               {#            <div class="btn login-btn">#}
               {#                <span style="font-size: 20px;">登录</span>#}
               <input class="btn login-btn" name="login_btn" type="submit" style="font-size: 20px;" value="登录">
               {#            </div>#}
           </form>

           {% if messages %}
               <script>
                   {% for msg in messages %}
                       alert('{{ msg.message }}');
                   {% endfor %}
               </script>
           {% endif %}

            <div class="change-box login-change">
                <div class="change-btn toSign">
                    <span>去注册</span>
                </div>
            </div>
       </div>

       <div class="sign-box">
            <div class="apple-btn sign-apple">
                <!-- <li class="red-btn"></li>
                <li class="yellow-btn"></li>
                <li class="green-btn"></li> -->
            </div>
            <div class="title">门户注册</div>
           <form method="POST" action="regist" onsubmit="return register()">
               <div class="input">
                   <input type="text" name="reg_name" id="sign-user" placeholder="学号">
               </div>
               <div class="input">
                   <input type="password" name="reg_pwd" id="sign-password" placeholder="密码">
               </div>

               <div class="input">
                   <input type="text" name="reg_inst" id="sign-inst" placeholder="学院">
               </div>
               <div class="input">
                   <input type="text" name="reg_major" id="sign-major" placeholder="专业">
               </div>

               <div class="select1">
                   <select id="sign-grade" name="reg_grade" value="年级">
                       <option value="2016">2016</option>
                       <option value="2017">2017</option>
                       >
                       <option value="2018">2018</option>
                       <option value="2019">2019</option>
                   </select>
               </div>

               <div class="select1">
                   <select id="sign-sex" name="reg_sex" value="性别">
                       <option value="男">男</option>
                       <option value="女">女</option>
                       >
                   </select>
               </div>

               {#            <div class="btn sign-btn">#}
               {#                <span style="font-size: 20px;">注册</span>#}
               <input type="submit" name="regist_btn" style="font-size: 20px" class="btn sign-btn" value="注册">
               {#            </div>#}
           </form>
            <div class="change-box sign-change">
                <div class="change-btn toLogin">
                    <span>去登陆</span>
                </div>
            </div>
       </div>
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./../static/js/loginscript.js"></script>
    <script>
        function login()
        {
            var flag = false;
            var name = $('#login-user').val();
            var pwd = $('#login-password').val();

            if(name.length ==0 || pwd.length==0)
            {
                alert('用户名或密码为空');
                return false;
            }

            $.ajax({
                url:'/login/checkuser',
                type:'get',
                async:false,
                data:{'uname':name,'pwd':pwd},
                success:function(result){
                    flag2 = result.flag;
                    if(flag2){
                        flag = true;
                    }
                    else
                        alert('用户名或密码有误');
                }
            });
            return flag;
        }

        function register()
        {
            var flag = false;
            var name = $('#sign-user').val();
            var pwd = $('#sign-password').val();
            var inst = $('#sign-inst').val();
            var major = $('#sign-major').val();
            var grade = $('#sign-grade').val();
            var sex = $('#sign-sex').val();

            if(name.length ==0 || pwd.length==0 || inst.length == 0 || major.length == 0)
            {
                alert('输入信息不能为空');
                return false;
            }

            $.ajax({
                url:'/login/register',
                type:'get',
                async:false,
                data:{'name':name,'pwd':pwd,'inst':inst,'major':major,'grade':grade,'sex':sex},
                success:function(result){
                    flag2 = result.flag;
                    if(flag2){
                        flag = true;
                    }
                    else
                        alert('用户已存在');
                }
            });
            return flag;
        }

    </script>
</body>
</html>
