<div class="wrapper-fluid wrapper-navbar" id="wrapper-navbar">

    <div class="container">

        <a class="skip-link screen-reader-text sr-only" href="https://demo.themely.com/verb/#content">Skip to content</a>

        <nav class="navbar navbar-light site-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

            <!-- Mobile ShiftNav Menu -->
            <a class="shiftnav-toggle shiftnav-toggle-shiftnav-main shiftnav-toggle-button" data-shiftnav-target="shiftnav-main"><i
                 class="fa fa-bars"></i> Toggle Menu</a>
            <!-- Superfish Menu -->
            <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="sf-menu">
                    <li id="menu-item-1949" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1949"><a
                         href="https://demo.themely.com/verb/">主页</a></li>
                    <li id="menu-item-2001" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2001"><a
                         href="https://demo.themely.com/verb/#">校园新闻</a>
                    </li>
                    <li id="menu-item-2000" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2000"><a
                         href="https://demo.themely.com/verb/#">媒体重大</a>
                    </li>
                    <li id="menu-item-1989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989"><a
                         href="https://demo.themely.com/verb/#">通知公告</a>
                    </li>
                    <li id="menu-item-1988" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1988"><a
                         href="https://demo.themely.com/verb/#">学术通告</a>
                    </li>
                    <li id="menu-item-2010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2010">
                        <a href="https://demo.themely.com/verb/index.php/style-guide/">学院新闻</a></li>
                </ul>
            </div>
        </nav><!-- .site-navigation -->


    </div>

</div><!-- .wrapper-navbar end -->
